.reject {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all 0.25s ease-in-out;

    &_anim {
        opacity: 1;
    }
}

.title {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.15px;
    margin-bottom: 16px;
}

.tabs {
    display: flex;
    gap: 4px;
    height: 30px;
    margin-bottom: 16px;
}

.tab {
    padding: 6px 10px;
    background-color: var(--color-bg-daily);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;

    p {
        user-select: none;
        font-size: 14px;
        color: var(--color-text-secondary);
        font-weight: 400;
        line-height: 18px;
    }

    &:hover {
        background-color: var(--color-tab-hover);
    }

    &_active {
        background-color: var(--color-tab-active);

        p {
            color: var(--color-button-accent);
        }
    }
}

.area {
    resize: none;
    box-sizing: border-box;
    height: 136px;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    background-color: var(--color-bg-card);
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: var(--color-text-primary);

    &:focus {
        outline: none;

    }

    &::placeholder {
        color: var(--color-text-secondary);
    }
}

.container {
    display: flex;
    justify-content: center;
    gap: 16px;
    height: 22px;
    padding: 0 8px;
    margin-top: 16px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.button {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background-color: #002CFB;
    color: #ECECEC;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.15px;
    cursor: pointer;
    transition: background-color 0.15s, margin-top 0.2s ease-in-out;
    margin-top: 16px;
    flex-shrink: 0;

    &_reject {
        width: 205px;
        margin-top: 0;
    }

    &:hover {
        background-color: #0028E5;
    }

    &:disabled {
        pointer-events: none;
        background-color: var(--color-bg-daily);
        border: 1px solid var(--color-bg-daily);
        color: #8E9AA8;
    }

    &_minor {
        border: 1px solid var(--color-button-accent);
        box-sizing: border-box;
        color: var(--color-button-accent);
        background: none;

        svg path {
            fill: var(--color-button-accent);
            transition: all 1.5s;
        }

        &:hover {
            background: none;
            border-color: var(--color-button-accent-hover);
            color: var(--color-button-accent-hover);

            svg path {
                fill: var(--color-button-accent-hover);
            }
        }
    }

    &_small {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        font-size: 16px;
        font-weight: 500;
        line-height: 148%;
        color: var(--color-button-accent);
        transition: all 0.15s;
        cursor: pointer;
        width: 50%;

        svg {
            margin-top: -1px;
            flex-shrink: 0;
        }

        svg path {
            transition: all 0.15s;
            fill: var(--color-button-accent);
        }

        &:hover {
            color: var(--color-button-accent-hover);

            svg path {
                fill: var(--color-button-accent-hover);
            }
        }
    }

    &_second {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 126px;
        gap: 4px;
        color: var(--color-button-accent);
        cursor: pointer;
        transition: all 0.15s;

        svg path {
            fill: var(--color-button-accent);
            transition: all 0.15s;
        }

        &:hover {
            color: var(--color-button-accent-hover);

            svg path {
                fill: var(--color-button-accent-hover);
            }
        }
    }
}

.block {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-top: 12px;
    gap: 8px;
    height: 20px;
    color: var(--color-text-secondary);
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.switch {
    width: 34px;
    height: 20px;
    border-radius: 40px;
    background-color: var(--color-button-disabled);
    box-sizing: border-box;
    padding: 3px;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &_hiden {
        transform: scale(0);
    }

    div {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #ffff;
        transition: all 0.2s ease-in-out;
    }

    &_on {
        background-color: var(--color-button-accent);

        div {
            transform: translateX(14px);
        }
    }
}

.screenshots {
    padding: 12px 0 0 0;
    margin-bottom: -4px;
    height: 124px;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    gap: 16px;

    &_hiden {
        height: 0;
        padding: 0;
        margin-bottom: 0;
    }
}

.shot {
    width: 100px;
    height: 100px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
    object-fit: contain;
    position: relative;

    img {
        height: 110px;
        width: auto;

    }

    &_anim {
        transform: scale(1);
    }

    &_delete {
        width: 0;
        opacity: 0;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    svg {
        position: absolute;
        right: -2px;
        top: 0;
        cursor: pointer;
        transition: all 0.15s;

        &:hover {
            opacity: 0.7;
        }
    }
}