.shedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   /*  max-width: 1558px; */
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
    position: relative;
}

.title {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}

.main {
    width: 100%;
    padding: 20px 28px;
    box-sizing: border-box;
    background-color: #FFF;
    border-radius: 8px;

    &_dark {
        background-color: #1A263B;
    }
}

.block {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-bottom: 12px;
}

.text {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;

    sup {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        opacity: 0.7;
    }
}

.buttons {
    display: flex;
    gap: 8px;
    height: 48px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #F8FAFD;
    border-radius: 8px;

    &_dark {
        background-color: #2C374B;
    }
}

.button {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    color: #71869D;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 4px;
    height: 38px;
    box-sizing: border-box;

    &:hover {
        background-color: #f1f4f9c4;
    }

    &_dark {
        color: #9397A6;

        &:hover {
            background-color: #414b5da2;
        }
    }

    &_active {
        background-color: #F1F4F9;
        color: #121922;

        &:hover {
            background-color: #F1F4F9;
        }

        &_dark {
            background-color: #414B5D;
            color: #ECECEC;

            &:hover {
                background-color: #414B5D;
            }
        }
    }
}