.goods {
    grid-area: pos;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 28px;
    box-sizing: border-box;
    background-color: var(--color-bg-card);
    border-radius: 8px;

}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin: 0;
}

.table {
    background-color: var(--color-bg-card-inner);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    overflow: hidden;
}

.header {
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    color: var(--color-text-secondary);
    height: 48px;

}

.cell {
    padding: 16px 12px;
    box-sizing: border-box;
    display: flex;
    align-self: center;
    transition: all 0.2s;
}

.sub {
    display: flex;
    align-items: center;
    padding: 20px 12px 12px;
    max-width: 48px;
    box-sizing: border-box;
    height: 100%;


}

.pos {
    max-width: 48px;
    padding-left: 16px;
    width: 100%;
}

.name {
    max-width: 440px;
    width: 100%;
}

.type {
    max-width: 147px;
    width: 100%;
}


.num {
    max-width: 76px;
    width: 100%;
}


.price {
    max-width: 117px;
    width: 100%;
    justify-content: flex-end;
}


.total {
    max-width: 117px;
    width: 100%;
    justify-content: flex-end;
    transition: all 0.2s;

    &_2 {
        max-width: 170px;
    }
}

.delete {
    transition: all 0.2s;
    cursor: pointer;


    &_disabled {
        opacity: 0;
        visibility: hidden;
        width: 0;
        padding: 0;
    }

    &:hover {
        opacity: 0.7;
    }
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 54px;

    &_first {
        max-height: 54px;
    }

    &_disabled {
        pointer-events: none;
    }
}

.item {
    border-top: 1px solid #eaf0fa00;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 0;
    width: 100%;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: all 0.2s;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        background-color: var(--color-tab-hover);
    }

    &_empty {
        justify-content: center;
        color: var(--color-text-secondary);
        font-size: 14px;
        width: 100%;
        border-top: 1px solid var(--color-line-border);
        opacity: 0;
        height: 0;

        &_anim {
            opacity: 1;
            min-height: 54px;

        }
    }

    &_anim {
        border-top: 1px solid var(--color-line-border);
        opacity: 1;
        min-height: 54px;
        height: fit-content;
    }
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 8px 20px 8px 12px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid var(--color-button-accent);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    color: var(--color-button-accent);
    cursor: pointer;
    transition: all 0.2s;

    svg {
        margin-right: 6px;

        path {
            fill: var(--color-button-accent);
        }
    }

    &_disabled {
        opacity: 0;
        visibility: hidden;
    }

    &:hover {
        color: var(--color-button-accent-hover);
        border-color: var(--color-button-accent-hover);

        svg {
            path {
                fill: var(--color-button-accent-hover);
            }
        }
    }


}

.text {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.15px;
}