.search {
    height: 44px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 280px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color-bg-card);
    border-radius: 4px;
    
    input {
        height: 100%;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        background: none;
        color: var(--color-text-primary);

        &::placeholder {
            color: var(--color-text-secondary);
        }
    }
}