.grpah {
    height: 140px;
    display: flex;
    box-sizing: border-box;
}

.section {
    height: 100%;
    width: 100%;
   position: relative;
    box-sizing: border-box;
    overflow: hidden;
    box-sizing: border-box;

    canvas {
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-in-out;
        transform: translateY(180px);
        box-sizing: border-box;
    }

    &_anim {
        canvas {
            transform: translateY(0);
        }
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    border-right: 0.3px dashed #EAF0FA;
    border-left: 0.3px dashed #EAF0FA;
    box-sizing: border-box;

    &_dark {
        border-color: #3F4A5E;
    }
}