.select {
    height: 100%;
    width: 100%;
    max-width: 168px;
    background-color: var(--color-bg-card);
    color: var(--color-text-primary);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
    cursor: pointer;

    svg {
        width: 16px;
        height: 16px;
        transition: all 0.2s;
        flex-shrink: 0;
    }

    &_open {
        svg {
            transform: rotate(180deg);
        }
    }
}

.list {
    position: absolute;
    bottom: 0;
    left: 0;
}