.select {
    height: 100%;
    width: 100%;
    max-width: 220px;
    background-color: var(--color-bg-card);
    color: var(--color-text-primary);
    border-radius: 8px;
    display: flex;
    align-items: center;
     z-index: 50;
    cursor: pointer;
    position: relative;
    transition: all 0.2s;


}

.header {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
    width: 100%;

    svg {
        width: 18px;
        height: 18px;
        transition: all 0.2s;
        flex-shrink: 0;
    }

    &_open {
        svg {
            transform: rotate(180deg);
        }
    }
}

.list {
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: var(--color-bg-card);
    box-shadow: var(--box-shadow2);
    height: 0;
    overflow: hidden;
    transition: all 0.2s;

    li {
        padding: 12px;

        &:hover {
            background-color: var(--color-button-disabled);
        }
    }

    &_open {
        height: 380px;
        overflow: auto;
    }
}

.sub {
    position: absolute;
    color: var(--color-text-secondary);
    top: -20px;
    font-size: 14px;
    width: 100%;
    text-wrap: nowrap;
}