.clients {
    grid-area: client;
    padding: 40px;
    background-color: #FFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: min-content;
    &_dark {
        background-color: #1A263B;
    }
}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-bottom: 20px;

    sup {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        opacity: 0.7;
        margin-left: 4px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.header {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #71869D;

    &_dark {
        color: #9397A6;
    }

    &_client {
        padding: 8px 0 10px 16px;
        display: flex;
        min-width: 235px;
        box-sizing: border-box;
    }

    &_sum {
        padding: 8px 0 10px 0;
        display: flex;
        min-width: 97px;
        box-sizing: border-box;
    }

    &_time {
        padding: 8px 0 10px 0;
        display: flex;
        min-width: 80px;
        box-sizing: border-box;
    }

    &_source {
        padding: 8px 0 10px 0;
        display: flex;
        min-width: 130px;
        box-sizing: border-box;
    }

    &_managers {
        padding: 8px 0 10px 0;
        display: flex;
        min-width: 230px;
        box-sizing: border-box;
    }

    &_study {
        padding: 8px 0 10px 16px;
        display: flex;
        min-width: 152px;
        box-sizing: border-box;
    }

    &_progress {
        padding: 8px 0 10px 0;
        display: flex;
     
        box-sizing: border-box;
    }
}