.clientsList {
    width: 100%;
    /* filter: blur(0.5px); */
    transition: all 0.3s ease-in-out;
    position: relative;

    /* &_anim {
        filter: blur(0);
    } */
}


.header {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 16px;
    height: 46px;
   /*  overflow: hidden; */

    opacity: 1;
    transition: all 0.25s;

    &_hiden {
        height: 0;
        opacity: 0;
        margin: 0;
    
    }

    &_bottom {
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }
}

.tabs {
    display: flex;
    gap: 8px;
    height: 46px;
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--color-bg-card);
    border-radius: 8px;
    flex-shrink: 0;
}

.tab {
    padding: 8px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--color-text-secondary);
    user-select: none;
    transition: all 0.2s;
    flex-shrink: 0;
    overflow: hidden;

    p {
        transition: all 0.2s;
    }

    sup {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: var(--color-text-secondary);
        opacity: 0.5;
        margin-left: 4px;
        margin-top: 6px;
        transition: all 0.5s;
        max-width: 30px;
        width: fit-content;
        opacity: 1;
    }

    &:hover {
        background-color: var(--color-tab-header-hover);
    }

    &_active {
        color: var(--color-text-primary);
        background-color: var(--color-bg-daily);
        ;

        sup {
            opacity: 0.8;
        }

        &:hover {
            background-color: var(--color-bg-daily);
        }
    }

    &_disabled {
        pointer-events: none;

        p {
            opacity: 0.6;
        }

        sup {
            width: 0;
            max-width: 0;
            opacity: 0;
            margin-left: 0;
        }
    }

    &_hidden {
        padding: 0;
        width: 0;
        margin-left: -8px;

    }

}

.search {
    position: relative;
    width: 100%;
    max-width: 240px;
    height: 46px;
    flex-shrink: 500;
    box-sizing: border-box;
    background-color: var(--color-bg-card);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 8px;
    z-index: 3;
    transition: all 0.2s;

    input {
        width: 100%;
        /*    pointer-events: none; */
        background: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        user-select: none;
        color: var(--color-text-primary);

        &::placeholder {
            color: var(--color-text-secondary);
            opacity: 0.5;
        }
    }

    svg path {
        fill: var(--color-text-secondary);
    }


}

.searchfr {
    width: 48px;
    height: 46px;
    max-width: 300px;
    flex-shrink: 500;
    box-sizing: border-box;
    background-color: var(--color-bg-card);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 8px;
    position: absolute;
    z-index: 3;
    border: 2px solid #ffffff00;
    transition: all 0.2s;

    input {
        width: 0;
        /*    pointer-events: none; */
        background: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        user-select: none;
        color: var(--color-text-primary);

        &::placeholder {
            color: var(--color-text-secondary);
            opacity: 0.5;
        }
    }

    svg path {
        fill: var(--color-text-secondary);
    }

    &_open {
        width: 260px;
        box-shadow: var(--box-shadow2);
        border: 2px solid var(--color-bg-disabled);

        input {
            width: 100%;
        }
       
    }


}

.sub {
    width: 100%;
    text-align: center;
    margin-top: 24px;
    color: var(--color-text-secondary);
}

.icon {
    &_search {
        transition: all 0.2 ease-in-out;

        svg {
            transition: all 0.2s ease-in-out;

            &:hover {
                transform: scale(1.2) rotate(15deg);
            }
        }
    }

 


    &_clean {
        position: absolute;
        right: 10px;
        top: 14px;
        width: 14px;
        height: 14px;
        opacity: 0;
        transform: scale(0);
        visibility: hidden;
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(1.1);
            opacity: 0.6;
        }

        svg {
            width: 100%;
            height: 100%;
        }

        &_vis {
            transform: scale(1);
            opacity: 1;
            visibility: visible;
        }
    }
}

.managers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    min-height: 28px;
    margin-left: auto;
}

.expert {
    padding: 0 12px 0 0;
    border-radius: 16px;
    background-color: var(--color-bg-card);
    height: 28px;
    display: flex;
    align-items: center;
    gap: 4px;
    /*  box-shadow: var(--box-shadow3); */
    user-select: none;

    cursor: pointer;
    transition: all 0.15s;

    &:hover {
        box-shadow: var(--box-shadow2);
    }

    p {
        font-size: 14px;
        color: var(--color-text-secondary);
    }

    &_active {
        box-shadow: var(--box-shadow2);
        background-color: var(--color-bg-card-new);

        p {
            color: var(--color-text-primary);
        }
    }

    &_disabled {
        pointer-events: none;
    }
}

.avatar {
    width: auto;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin-left: -1px;
        margin-right: -1px;
        width: 110%;
        height: 110%;
    }
}

.button {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-button-accent);
    cursor: pointer;
    margin-left: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: all 0.15s;

    svg {
        margin-top: 2px;
        height: 14px;
        width: 14px;

        path {
            fill: var(--color-button-accent);
            transition: all 0.15s;
        }
    }

    &:hover {
        color: var(--color-button-accent-hover);

        svg path {
            fill: var(--color-button-accent-hover);
        }
    }

    &_hiden {
        opacity: 0;
        visibility: hidden;
    }
}

.loader {
    position: absolute;
    bottom: -56px;
    left: 48%;
}

.reject {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 14px;
    color: var(--color-text-secondary);
}