.main {
    display: grid;
    grid-template-areas: 'sidebar work';
    grid-template-columns: 282px 1fr;
    color: #121922;
    height: 100%;
    box-sizing: border-box;

    @media(max-width: 720px) {
        grid-template-columns: 0 1fr;
    }
}