.container {
    grid-area: managers;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 1030px;
  
}

.managers {
    border-radius: 8px;
    background-color: #FFF;
    padding: 40px;
    position: relative;
    height: min-content;


}

.dark {
    background-color: #1A263B;
}

.expert {
    border-radius: 8px;
    background-color: #FFF;
    padding: 40px;
    height: min-content;


}

.dark {
    background-color: #1A263B;
}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-bottom: 20px;

    sup {
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.15px;
        opacity: 0.5;
    }
}

.list {
    width: 100%;
    margin: -40px 0 0 0;
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
    height: min-content;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

 
}

.header {
    display: flex;
    justify-content: space-between;


}

.buttons {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #F8FAFD;
    border-radius: 8px;
    margin-bottom: 20px;
    gap: 8px;
    color: #71869D;
    width: min-content;

    &_dark {
        color: #71869D;
        background-color: #2C374B;
    }
}

.button {
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 4px;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        background-color: #f1f4f9c5;
    }

    &_active {
        color: #121922;
        background-color: #F1F4F9;

        &_dark {
            color: #ECECEC;
            background-color: #414B5D;
        }
    }

    &_dark {
        &:hover {
            background-color: #414b5d7c;
        }
    }

    &_weekend {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 12px;
        left: 0;
        cursor: pointer;
        font-size: 12px;
        color: #71869D;
        transition: all 0.2s;
        &:hover {
            opacity: 0.7;
        }

    }
}