.plan {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all 0.15s ease-in-out;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &_anim {
        opacity: 1;
    }

}

.title {
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.15px;
    margin-bottom: 16px;
}

.tabs {
    margin-bottom: 20px;
    height: 46px;
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: var(--color-bg-card);
    border-radius: 8px;
    padding: 5px;
    flex-shrink: 0;
}

.tab {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-text-secondary);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--color-bg-daily);
        opacity: 0.7;
    }

    &_active {
        background-color: var(--color-bg-daily);
        color: var(--color-text-primary);

        &:hover {
            opacity: 1;
        }
    }
}

.main {
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.container {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.textblock {
    width: 45px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.text {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.056px;
}

.block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 4px;
    transition: all 0.2s ease-in-out;

    &_hiden {
        position: absolute;
        visibility: hidden;
        top: 0;
        left: 57px;
        width: calc(100% - 56px);
    }
}

.item {
    height: 40px;
    padding: 9px 16px;
    border-radius: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
    background-color: var(--color-bg);
    color: var(--color-text-secondary);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    user-select: none;
    flex-shrink: 0;

    sup {
        margin-left: 2px;
    }

    &:hover {
        background-color: var(--color-tab-hover);
    }

    &_another {
        display: flex;
        justify-content: center;
        width: 100px;
        transition: all 0.2s;

        &_add {
            width: 75px;

            &:hover {
                background-color: var(--color-bg);
            }

            input {
                background: none;
                width: 70px;
                color: var(--color-text-secondary);
                box-sizing: border-box;
                text-align: center;
                border: none;
            }
        }
    }

    &_active {
        background-color: var(--color-tab-active);
        color: var(--color-button-accent);

        input {
            color: var(--color-button-accent);
        }

        &:hover {
            background-color: var(--color-tab-active);
        }
    }

    &_time {
        min-width: 75px;
        box-sizing: border-box;
    }

    &_block {
        position: relative;

        svg {
            margin-right: 4px;

            path {
                fill: var(--color-button-disabled);
            }
        }

        color: var(--color-button-disabled);
        background-color: var(--color-bg-disabled);

        &:hover {
            background-color: var(--color-bg-disabled);
        }
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.button {
    width: 168px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background-color: #002CFB;
    color: #ECECEC;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.15px;
    cursor: pointer;
    transition: background-color 0.15s, margin-top 0.2s ease-in-out, color 0.15s , border 0.15s;

    &:hover {
        background-color: #0028E5;
    }

    &:disabled {
        pointer-events: none;
        background-color: var(--color-bg-daily);
        border: 1px solid var(--color-bg-daily);
        color: #8E9AA8;
    }

    &_second {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 126px;
        gap: 4px;
        color: var(--color-button-accent);
        cursor: pointer;
        transition: all 0.15s;

        svg path {
            fill: var(--color-button-accent);
            transition: all 0.15s;
        }

        &:hover {
            color: var(--color-button-accent-hover);

            svg path {
                fill: var(--color-button-accent-hover);
            }
        }
    }
}

.container_switch {
    display: flex;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    transition: all 0.2s ease-in-out;
    height: 22px;
    overflow: hidden;
}

.container_hiden {
    opacity: 0;
    height: 0;
    filter: blur(2px);
}

.switch {
    width: 34px;
    height: 20px;
    border-radius: 40px;
    background-color: var(--color-button-disabled);
    box-sizing: border-box;
    padding: 3px;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &_hiden {
        transform: scale(0);
    }

    div {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #ffff;
        transition: all 0.2s ease-in-out;
    }

    &_on {
        background-color: var(--color-button-accent);

        div {
            transform: translateX(14px);
        }
    }
}

.tooltip {
    position: absolute;
    top: -30px;
    visibility: hidden;
    opacity: 0;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: var(--color-bg-card);
    transition: all 0.2s;

    &_open {
        visibility: visible;
        opacity: 1;
    }
}