

.expert {
    background-color: var(--color-bg-card);
    height: 46px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    z-index: 50;

    svg {
        width: 18px;
        height: 18px;
        transition: all 0.2s;
        flex-shrink: 0;
    }

    &_open {
        svg {
            transform: rotate(180deg);
        }
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
}



.block {
    display: flex;
    align-items: center;
    gap: 8px;

    p {
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 200px;
    }
}

.avatar {
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 36px;
        height: 36px;
    }
}

.arrow {
    height: 24px;
    transition: all 0.3s;

    &_open {
        transform: rotate(180deg);
    }
}

.experts {
    background-color: var(--color-bg-card);
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 44px;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: var(--box-shadow2);
    max-height: 0;
    height: fit-content;
    transition: all 0.3s;
    overflow: hidden;
    border-radius: 0 0 8px 8px;

    &_open {
        max-height: 400px;
        overflow: auto;
    }

    li {
        height: 46px;
        padding: 12px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        gap: 8px;
        transition: all 0.15s;

        &:hover {
            background-color: var(--color-bg-full);
        }
    }
}