.column {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    min-height: 793px;
    background-color: var(--color-bg-full);
    border-radius: 12px;

    &_today {
        background: var(--color-planer-now-bg);
        box-shadow: 24px 24px 80px 0px rgba(0, 0, 0, 0.01);
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px 8px;
}

.sub {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: var(--color-text-secondary);

    &_today {
        font-size: 16px;
        color: var(--color-text-primary);
        font-weight: 600;
        letter-spacing: 0.15px;
    }
}

.day {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.7;
    color: var(--color-text-secondary);

    &_today {
        color: var(--color-text-primary);
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 12px 12px;
    margin: 0;


    a {
        text-decoration: none;
        color: var(--color-text-primary);

        &:active {
            text-decoration: none;
            color: var(--color-text-primary);
        }

        &:hover {
            text-decoration: none;
            color: var(--color-text-primary);
        }
    }

}