.window {
    grid-area: work;
    width: 1fr;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 80px);
    padding: 40px;
    background-color: #F1F4F9;
}

.dark {
    background-color: #091525;
    color: #ECECEC;
}