.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    z-index: 2;

    &_anim {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.modal {
    background-color: var(--color-bg-full);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    padding: 32px;
    width: 542px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: all 0.2s;
    transform: scale(0.6);
    opacity: 0;

    &_anim {
        transform: scale(1);
        opacity: 1;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    svg {
        cursor: pointer;
        transition: all 0.15s;

        &:hover {
            opacity: 0.7;
        }
    }
}

.title {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;

    &_success {
        margin: 16px 0 8px;
    }
}

.sub {
    font-size: 14px;
    color: var(--color-text-secondary);
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 6px;
}



.button {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    background-color: #002CFB;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.15px;
    cursor: pointer;
    transition: all 0.15s;
    margin-top: 28px;

    &:hover {
        background-color: #0028E5;
    }

    &:disabled {
        pointer-events: none;
        background-color: var(--color-bg-daily);
        color: #8E9AA8;
    }
}

.success {
    width: 300px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: var(--color-bg-daily);
    border-radius: 8px;
    transition: all 0.2s;
    transform: scale(0.6);
    visibility: hidden;
    opacity: 0;

    &_anim {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;

    svg {
        cursor: pointer;
        transition: all 0.15s;

        &:hover {
            opacity: 0.7;
        }
    }
}

.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: var(--color-text-secondary);
    text-align: center;

    &_err {
        width: 100%;
        box-sizing: border-box;
        padding: 0 32px;
        position: absolute;
        bottom: 10px;
        left: 0;
        color: #E75A5A;
        font-size: 12px;
        text-align: center;
    }
}

.check {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 28px;
    cursor: pointer;
    user-select: none;

    &_dis {
        pointer-events: none;
        cursor: default;
    }
}

.checkbox {
    border-radius: 5.5px;
    border: 2px solid var(--OutlineDark, rgba(173, 191, 223, 0.40));
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &:hover {
        border-color: var(--color-button-accent);
        opacity: 0.8;
    }

    div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 88%;
            height: 88%;
            transform: scale(0);
            transition-delay: 0.15s;
            transition: all 0.15s ease-in-out;
        }
    }

    &_check {
        background-color: var(--color-button-accent);
        border-color: var(--color-button-accent);

        div {
            svg {
                transform: scale(1);
            }
        }

    }

    &_dis {
        pointer-events: none;
        opacity: 0.6;
    }
}

.documents {
   /*  position: absolute; */
    width: 100%;
    height: fit-content;
    z-index: 12;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 12px;
}

.fileloader {
    transition: all 0.2s;
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
   
    box-sizing: border-box;


   /*  &_hiden {
        border: 1px dashed #ECF2FC;
    } */

    
    &_disabled {
        opacity: 0.4;
        pointer-events: none;
    }
}


.file {
    height: 66px;
    padding: 12px;
    margin-bottom: 0;
    visibility: hidden;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    background: var(--color-bg-card);
    display: flex;
    align-items: center;
    opacity: 0;
    transition: all 0.4s;
    overflow: hidden;
    transform: scale(0);


    &_anim {
        visibility: visible;
        height: 66px;
        padding: 12px;
        opacity: 1;
        transform: scale(1);
    }
}

.block_text {
    width: 100%;
    margin-left: 8px;
    box-sizing: border-box;

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 2px;
    }

    span {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color: #71869D;
    }
}

.delete {
    display: flex;
    align-items: center;
    justify-self: center;
    transition: all 0.2s;

    svg {
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            opacity: 0.7;
        }
    }

    &_disabled {
        opacity: 0;
        visibility: hidden;
    }
}

.link {
    display: flex;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-text-primary);

    &:active {
        color: inherit;
    }

    &:visited {
        color: inherit;
    }
}

.comment {
    resize: none;
    box-sizing: border-box;
    height: 82px;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    background-color: var(--color-bg-card);
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: var(--color-text-primary);

    &:focus {
        outline: none;

    }

    &::placeholder {
        color: var(--color-text-secondary);
    }
}

.rejectIcon {
    svg {
        width: 60px;
        height: 60px;
        margin-bottom: -12px;
    }
}