.paln {
    grid-area: plan;
    height: min-content;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;

    &_dark {
        background-color: #1A263B;
    }
}

.title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.managers {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}







