.work {
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all 0.1s;
    position: relative;

    &_anim {
        opacity: 1;
    }
}

.title {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.15px;
    margin-bottom: 16px;
}

.tabs {
    display: flex;
    gap: 4px;
    height: 30px;
    margin-bottom: 16px;
}

.tab {
    padding: 6px 10px;
    background-color: var(--color-bg-daily);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;

    p {
        user-select: none;
        font-size: 14px;
        color: var(--color-text-secondary);
        font-weight: 400;
        line-height: 18px;
    }

    &:hover {
        background-color: var(--color-tab-hover);
    }

    &_active {
        background-color: var(--color-tab-active);

        p {
            color: var(--color-button-accent);
        }
    }
}

.area {
    resize: none;
    box-sizing: border-box;
    height: 136px;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    background-color: var(--color-bg-card);
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: var(--color-text-primary);

    &:focus {
        outline: none;

    }

    &::placeholder {
        color: var(--color-text-secondary);
    }
}

.container {
    display: flex;
    justify-content: center;
    gap: 16px;
    height: 22px;
    padding: 0 8px;
    margin-top: 16px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
/*     margin-top: 16px; */
    gap: 24px;
    align-items: center;
    transition: margin-top 0.2s ease-in-out;
}

.button {
    width: 250px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background-color: #002CFB;
    color: #ECECEC;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.15px;
    cursor: pointer;
    transition: background-color 0.15s, margin-top 0.2s ease-in-out;

    &_2 {
        width: 100%;
    }

    

    &:hover {
        background-color: #0028E5;
    }

    &:disabled {
        pointer-events: none;
        background-color: var(--color-bg-daily);
        border: 1px solid var(--color-bg-daily);
        color: #8E9AA8;
    }

    &_margin {
        margin-top: 16px;
    }

    &_minor {
        border: 1px solid var(--color-button-accent);
        box-sizing: border-box;
        color: var(--color-button-accent);
        background: none;

        svg path {
            fill: var(--color-button-accent);
            transition: all 1.5s;
        }

        &:hover {
            background: none;
            border-color: var(--color-button-accent-hover);
            color: var(--color-button-accent-hover);

            svg path {
                fill: var(--color-button-accent-hover);
            }
        }
    }

    p {
        width: 86px;
    }

    &_anim {

        animation: hoverWave linear 1s infinite;

        svg {
            animation: 1200ms ease 0s normal none 1 running shake;
            animation-iteration-count: infinite;
        }

        &:hover {
            background: none;
        }
    }

    &_small {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        font-size: 16px;
        font-weight: 500;
        line-height: 148%;
        color: var(--color-button-accent);
        transition: all 0.15s;
        cursor: pointer;
        width: 50%;

        svg {
            margin-top: -1px;
            flex-shrink: 0;
        }

        svg path {
            transition: all 0.15s;
            fill: var(--color-button-accent);
        }

        &:hover {
            color: var(--color-button-accent-hover);

            svg path {
                fill: var(--color-button-accent-hover);
            }
        }
    }

    &_second {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 126px;
        gap: 4px;
        color: var(--color-button-accent);
        cursor: pointer;
        transition: all 0.15s;

        svg path {
            fill: var(--color-button-accent);
            transition: all 0.15s;
        }

        &:hover {
            color: var(--color-button-accent-hover);

            svg path {
                fill: var(--color-button-accent-hover);
            }
        }
    }
}

.block {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 20px;
    margin: 16px 0;
    color: var(--color-text-secondary);
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    &_hiden {
        height: 0;
        margin: 0;
        opacity: 0;
    }

    &_add {
        position: absolute;
        left: -16px;
        bottom: -120px;
        width: calc(100% + 32px);
        padding: 20px 16px;
        height: fit-content;
        box-sizing: border-box;
        background-color: var(--color-bg-full);
        border-radius: 8px;
        flex-shrink: 0;
        transition: all 0.2s ease-in-out;
      }
}

.switch {
    width: 34px;
    height: 20px;
    border-radius: 40px;
    background-color: var(--color-button-disabled);
    box-sizing: border-box;
    padding: 3px;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &_hiden {
        transform: scale(0);
    }

    div {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #ffff;
        transition: all 0.2s ease-in-out;
    }

    &_on {
        background-color: var(--color-button-accent);

        div {
            transform: translateX(14px);
        }
    }
}

.screenshots {
    padding: 12px 0 24px;
    margin-bottom: -4px;
    height: 124px;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    gap: 16px;

    &_hiden {
        height: 0;
        padding: 0;
        margin-bottom: 0;
    }
}

.shot {
    width: 100px;
    height: 100px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
    object-fit: contain;
    position: relative;
   

    img {
        height: 110px;
        width: auto;

    }

    &_anim {
        transform: scale(1);
    }

    &_delete {
        width: 0;
        opacity: 0;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    svg {
        position: absolute;
        right: -2px;
        top: 0;
        cursor: pointer;
        transition: all 0.15s;

        &:hover {
            opacity: 0.7;
        }
    }
}


@keyframes shake {
    0% {
        transform: rotateZ(0deg);

    }

    10% {
        transform: rotateZ(-30deg);

    }

    20% {
        transform: rotateZ(15deg);

    }

    30% {
        transform: rotateZ(-10deg);

    }

    40% {
        transform: rotateZ(7.5deg);

    }

    50% {
        transform: rotateZ(-6deg);

    }

    60% {
        transform: rotateZ(5deg);

    }

    70% {
        transform: rotateZ(-4.28571deg);

    }

    80% {
        transform: rotateZ(3.75deg);

    }

    90% {
        transform: rotateZ(-3.33333deg);

    }

    100% {
        transform: rotateZ(0deg);

    }
}

@keyframes hoverWave {
    0% {
        box-shadow: 0 4px 5px rgba(0, 44, 251, 0.3), 0 0 0 0 rgba(0, 44, 251, 0.2), 0 0 0 0 rgba(0, 44, 251, 0.2)
    }

    40% {
        box-shadow: 0 4px 5px rgba(0, 44, 251, 0.3), 0 0 0 5px rgba(0, 44, 251, 0.2), 0 0 0 0 rgba(0, 44, 251, 0.2)
    }

    80% {
        box-shadow: 0 4px 5px rgba(0, 44, 251, 0.3), 0 0 0 6px rgba(0, 44, 251, 0), 0 0 0 8px rgba(0, 44, 251, 0.067)
    }

    100% {
        box-shadow: 0 4px 5px rgba(0, 44, 251, 0.3), 0 0 0 8px rgba(0, 44, 251, 0), 0 0 0 12px rgba(0, 44, 251, 0.0)
    }
}