.balance {
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--color-bg-card);
    padding: 0 20px;
    transition: all 0.15s ease-in-out;
    opacity: 0;
    filter: blur(0.5px);

    &_anim {
        opacity: 1;
        filter: none;
    }
}

.header {
    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: var(--color-text-header);
    }

    border-bottom: 1px solid var(--color-line-border);
    display: flex;
    height: 48px;
    box-sizing: border-box;

    div {
        display: flex;
        height: 100%;
        align-items: center;
        box-sizing: border-box;
    }
}

.number {
    width: 54px;
    flex-shrink: 0;
    padding: 20px 12px 12px 12px;
}

.name {
    width: 100%;
    padding: 20px 12px 12px 12px;

    svg {

        margin-right: 4px;
        transition: all 0.15s;

    }

    &:hover {
        svg {
            opacity: 0.7;
        }
    }
}

.outgo {
    width: 140px;
    flex-shrink: 0;
    padding: 20px 12px 12px 12px;
}

.total {
    width: 184px;
    flex-shrink: 0;
    padding: 20px 12px 12px 12px;
    margin-right: 100px;

    div {
        margin-left: 2px;
        width: 76px;
        height: 10px;
        border-radius: 2px;
    }
}

.position {
    padding: 20px 12px 12px 12px;
    width: 191px;
    flex-shrink: 0;
    cursor: pointer;

    svg {

        margin-right: 4px;
        transition: all 0.15s;

    }

    &:hover {
        svg {
            opacity: 0.7;
        }
    }
}

.action {
    padding: 20px 12px 12px 12px;
    width: 168px;
    flex-shrink: 0;
}

.container {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*  transition: all 3s ease-in-out; */

    &_sort {
        user-select: none;
        cursor: pointer;
        flex-shrink: 0;
        margin: 0;
        padding: 0;
    }
}

.up {
    svg path {
        &:nth-child(2) {
            opacity: 0.8;
            stroke: var(--color-button-accent);
        }
    }
}

.down {
    svg path {
        &:nth-child(1) {
            opacity: 0.8;
            stroke: var(--color-button-accent);
        }
    }
}