.item {
    display: flex;
    border-bottom: 1px solid var(--color-line-border);
    box-sizing: border-box;
    &:last-child {
        border: none;
    }
}

.field {
    padding: 16px 12px;
    width: 120px;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }

    span {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }

    &_2 {
        justify-content: flex-end;
        flex-direction: row;
    }
}

.pos {
    padding: 16px 12px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 4px;

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }

    span {
        font-size: 14px;
    }
}

.manager {
    padding: 16px 12px;
    width: 200px;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 4px;

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }

    span {
        font-size: 14px;
    }
}

.status {
    padding: 16px 12px;
    width: 280px;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.bage {
    height: 24px;
    padding: 0 8px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    background-color: var(--color-bg);
    color: var(--color-text-secondary);

    &_green {
        background-color: var(--color-bage-green);
        color: #28A879;
    }
}

.button {
    font-weight: 500;
    line-height: 148%;
    color: var(--color-button-accent);
    cursor: pointer;
    transition: all 0.15s;

    &:hover {
        color: var(--color-button-accent-hover);
    }
}