.progress {
    padding: 40px;
    background-color: #FFF;
    border-radius: 8px;
    box-sizing: border-box;
    grid-area: dayprogress;
    height: min-content;

    &_dark {
        background-color: #1A263B;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-bottom: 20px;
}

.indicators {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.expert {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    position: relative;
}

.consultbp {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    position: relative;
}