.sales {
    width: 100%;
    max-width: 1658px;
    display: grid;
    align-content: start;
    grid-template-areas: 'header header'
        'graphs statistic'
        'client debt'
        'client plan'
        'client top';
    grid-template-columns: 1fr 506px;
    grid-template-rows: repeat(4, min-content) 1fr;
    gap: 20px;
    opacity: 0;
    transition: all 0.3s;
}

.anim {
    opacity: 1;
}


.header {
    display: flex;
    justify-content: space-between;
    grid-area: header;
}

.title {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}

.stat {
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-area: statistic;
}